.centreText {
  text-align: center;
}

h1 {
  font-size: 150px;
}

.dropZone {
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 5px;
  padding-bottom: 0px;
  height: 51vh;
  background-color: #4079FA;
  border-radius: 20px;
  color: white;
}

.image1 {
  max-width: 100%;
  height: 50vh;
}



.dropZoneText {
  font-family: 'Comic Sans MS';
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
